  <div class="container">

    <% @likes.each do |like| %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="/users/<%=like.user_id%>"><%= like.user %></a><small> <%=time_ago_in_words(Time.now)%> </small>
            </h3>
          </div>
          <div class="panel-body">
            <img src="<%= like.image %>" class="img-responsive">
            <p>
              <a href="/delete_like/57" class="btn btn-link">
                <i class="fa fa-heart"></i>
              </a>
              <%= like.user %>
              likes
              this
            </p>
          </div>
        </div>
      </div>
    </div>
      <% end %>

      <div class="btn-group btn-group-justified">
        <a href="/users" class="btn btn-primary">
          Back
        </a>
      </div>
    </div>
