<div class="page-header">
  <h3>Photo #<%= @photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @photo.caption %></dd>

      <dt>Image</dt>
      <dd><%= @photo.image %></dd>

      <dt>User</dt>
      <dd><%= @photo.user_id %></dd>

    </dl>

    <% #copy new comment form and paste... fix all things that don't match or have an error
        #prepopulate and hide the values that don't need to be shown
        #take the action to stay in the same page in controllers set redirect to ":back"
        #para favorites @photo.fans.pluck(:username).to_sentence
        %>

    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <% if current_user.id == @photo.user_id %>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
